@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;600&display=swap');

@import url(style-tab.css);
@import url(style-desk.css);

:root {
    ---blur: blur(20px);
    ---border2px: 2px solid;
    ---b-rad-20px: 20px;
    ---montserrat: 'Montserrat', sans-serif;
    ---bold: 0px 0px 1px white;
    ---dark-body: rgb(36, 36, 36);
    ---dark-shadow: 3px 3px 5px black;
    ---grey-bg: #557A95;
    ---box-shadow: 3px 3px 5px white;
    ---3d-inner-shadow-top: 4px 4px 5px black inset;
    ---3d-inner-shadow-bot: -2px -4px 3px black inset;
}

* {
    font-family: var(---montserrat);
    font-weight: 200;
    box-sizing: border-box;
}

.kurang {
    display: none;
}

html,
body {
    background-color: var(---dark-body);
    margin: 0;
    padding: 0;
    min-width: 100%;
    min-height: 100vh;
    color: white;
    scroll-behavior: smooth;
    overflow: hidden;
}

a {
    text-decoration: none;
    color: inherit;
}

nav a {
    width: 2.7rem;
    height: 2.7rem;
    background-color: #026fdc;
    border-radius: 50%;
    border: var(---border2px) white;
    display: flex;
    box-shadow: var(---3d-inner-shadow-bot);
    transition: ease .2s;
    justify-content: center;
    align-items: center;
}

nav a.active {
    color: rgb(145, 145, 145);
    box-shadow: var(---3d-inner-shadow-top);
    background-color: #115aa2;
}

nav a:hover {
    color: rgb(145, 145, 145);
    box-shadow: var(---3d-inner-shadow-top);
    background-color: #115aa2;
}

.cover {
    width: 100%;
    min-height: 100vh;
    display: flex;
}

.paper {
    max-width: 90%;
    min-height: 100vh;
    margin: 0 auto;
}

.home-wrapper {
    min-height: 100vh;
    display: flex;
}

.home {
    margin: auto;
    display: flex;
    width: fit-content;
}

.home nav {
    display: flex;
    justify-content: space-evenly;
    order: 2;
    flex-direction: column;
    margin-left: 1rem;
}

.short_article {
    max-width: 100%;
    margin: auto;
    order: 1;
}

.judul {
    font-weight: 600;
}

.isi {
    background-color: var(---grey-bg);
    margin: .5rem 0 1rem 0;
    backdrop-filter: var(---blur);
    padding: 1rem;
    border-radius: var(---b-rad-20px);
    text-shadow: var(---bold);
    box-shadow: -7px -7px 7px black inset;
    transition: ease .5s;
    border: var(---border2px);
}

.isi:hover {
    box-shadow: 4px 4px 5px black inset;
}

.view_more-btn {
    background-color: var(---grey-bg);
    text-shadow: var(---bold);
    border-radius: var(---b-rad-20px);
    width: fit-content;
    padding: .5rem 1rem;
    box-shadow: var(---3d-inner-shadow-bot);
    border: var(---border2px);
}

.view_more_container {
    margin-top: 1.5rem;
}

.about-me-wrapper {
    width: 100%;
    height: 100vh;
    display: flex;
    text-shadow: var(---bold);
}

.about-me-wrapper nav {
    display: flex;
    justify-content: space-evenly;
}

.about-wrap {
    width: 90%;
    margin: auto;
}

.about_datadiri {
    display: flex;
    flex-direction: column;
}

.datadiri_fix {
    padding: .5rem 1rem;
    border-radius: var(---b-rad-20px);
    margin-top: .2rem;
    background-color: var(---grey-bg);
    box-shadow: var(---3d-inner-shadow-top);
    border: var(---border2px);
}

.tengah {
    margin: 0 auto;
}

.skill-outer {
    margin-top: .5rem;
    padding: 1rem 1.5rem;
    border-radius: var(---b-rad-20px);
    background-color: var(---grey-bg);
    box-shadow: var(---3d-inner-shadow-top);
    border: var(---border2px);
}

.skill-container {
    display: flex;
    flex-direction: column;
}

.skill_indicator {
    border-radius: var(---b-rad-20px);
    border: var(---border2px);
    text-shadow: var(---bold) black;
}

.skill_indicator .angka {
    padding-right: 5px;
    color: black;
    font-weight: 600;
    text-shadow: none;
}

.skill_container:not(:last-of-type) {
    margin-bottom: 10px;
}


.content-wrapper {
    width: 100%;
    min-height: 100vh;
    margin-bottom: 3rem;
    display: flex;
}

.content_wrapper {
    position: relative;
    margin: auto auto auto 0;
    justify-content: space-evenly;
    width: 100%;
}

.content_wrapper nav {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}


.anime_container {
    display: flex;
    align-items: center;
    flex-direction: row;
    position: relative;
    margin: 1rem auto;
    height: fit-content;
    width: fit-content;
}

.anime_image {
    border-radius: 20px;
    width: 100%;
    height: auto;
    box-shadow: -7px 7px 10px black, -7px 7px 2px grey;
    margin: auto;
}

.anime_image img {
    border-radius: var(---b-rad-20px);
    width: 100%;
    height: auto;
}

#prev {
    position: absolute;
    color: white;
    left: 0;
    cursor: pointer;
    padding: 16px;
    font-weight: bold;
    font-size: 1.5rem;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

#next {
    position: absolute;
    color: white;
    right: 0;
    cursor: pointer;
    padding: 16px;
    font-weight: bold;
    font-size: 1.5rem;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

#prev:hover,
#next:hover {
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 10px;
}

.fade {
    animation: fade 1s;
}

@keyframes fade {
    from {
        opacity: .4;
    }

    to {
        opacity: 1;
    }
}

.contact-wrapper {
    min-height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
}

.contact-wrap {
    width: 100%;
    margin: auto 0;
}

.contact-wrap nav {
    justify-content: space-evenly;
    display: flex;
}

.contact {
    width: 100%;
    height: fit-content;
    padding: 1rem 2rem;
}

.contact_wrapper {
    background-color: rgb(78, 76, 76);
    border: var(---border2px);
    border-radius: var(---b-rad-20px);
    display: flex;
    justify-content: center;
    padding: 1rem;
    margin-top: 1rem;
    box-shadow: var(---3d-inner-shadow-top);
}

.black-bg {
    width: fit-content;
    color: white;
}

.logo-com {
    display: flex;
    align-items: center;
}

.fa-brands {
    opacity: .9;
}

.fa-whatsapp {
    text-shadow: none;
    font-size: 35px;
    color: rgb(5, 182, 5);
    text-align: center;
    text-shadow: 2px 2px 5px black;
}

.text-social {
    margin-left: 1rem;
    font-weight: 600;
}

.menganjai:not(:last-of-type) {
    margin-bottom: 1rem;
}

.menganjai:hover {
    transform: scale(1.2, 1.2);
}

.fa-facebook-f {
    color: white;
    background-color: rgb(59, 89, 152);
    border-radius: 5px;
    width: 30px;
    font-size: 25px;
    text-shadow: none;
    text-align: center;
    padding-top: 5px;
    box-shadow: 2px 2px 5px black;
}

.igbro {
    font-size: 30px;
    width: 30px;
    border-radius: 8px;
    box-shadow: 2px 2px 5px black;
    text-align: center;
    color: white;
    text-shadow: none;
    background: linear-gradient(to top right, yellow 0%, yellow 5%, red 45%, #ff1493 60%, #1e90ff 90%);
}